@charset "utf-8";
/* slider */
#slider { height: 363px; background: url(../images/bgSlider.jpg) no-repeat center / cover; text-align:center; position: relative}
#slider::before { content: ""; background: rgba(0, 0, 0, 0.5); position: absolute; top: 0; left: 0; width: 100%; height: 363px; }
#slider p { position: relative; padding: 70px 0 30px; text-transform: uppercase; font-size: 70px; color: #fff; text-shadow: 0 2px 2px #000; }
#slider a { position: relative; display: block; background: #ff0000; width: 150px; height: 40px; color: #fff; text-transform: capitalize; font-size: 20px; line-height: 40px; margin: 0 auto; }
/* board */
#board { width: 1000px; margin: 32px auto 0; overflow: hidden;}
#board > section { width: 420px; float: left; }
#board > section > h3 { height: 23px; font-style: italic; font-size: 14px; text-indent: 25px; 
                        background: url(../images/bgBoard.png) no-repeat;}
/* main */
#solutionWrap { background: #edebeb; }
#solution { width: 930px; overflow: hidden; margin: 0 auto; padding: 83px 30px 50px; }
#solution .solution { width: 310px;  background: url(../images/bgSolution.png) no-repeat ; float: left; }
#solution .hosting { background-position-x: 0; }
#solution .security { background: url(../images/bgSolution.png) no-repeat; background-position-x: center; } /* background-position-x: 50%; 로 해도 무관*/
#solution .payment  { background: url(../images/bgSolution.png) no-repeat; background-position-x: right; }  /* background-position-x: 100% */
#solution .solution a { display: block;  padding: 0 34px 0 100px; color: #333; }
#solution .solution a h3{ font-size: 16px; }
#solution .solution a p{ font-size: 14px; }
/* news */
#sec_news { margin: 0 80px 0 40px; }
#sec_news h3 { margin-bottom: 18px; }
#sec_news h3 span { color: #f26522;}
#sec_news a { color: #333; font-size: 14px;}
#sec_news a dl { margin: 0 0 10px 5px; }
#sec_news a dl dt { color: #ff003f; }
#sec_news a dl dt dd { font-family: "Times New Roman", sans-serif; line-height: 16px; }
/* news notice */
#notice { }
#notice h3 { color: #817b3f; margin-bottom: 22px; }
#notice ul li { height: 26px;
                padding-right: 20px;
                text-indent: 15px; 
                line-height: 26px;
                font-size: 14px; 
                border-bottom: 1px dotted #999;
                background: url(../images/bulletNotice.gif) no-repeat 0 center;  }
#notice ul li a { color: #333; float: left;}
#notice ul li span { float: right; }